*{
    background-color:rgb(220, 226, 110);
}
h1{
    text-align: center;
    margin: 1rem;
    padding-top: 1.2rem;
}
h3{
    text-align: center;
}
textarea {
    width: 50%;
    height: 15vh;
    padding: 1rem;
    background-color: #fff;
    border-radius: 1rem;
    display: block;
    margin: auto;
    border: none;
}

#output {
    display: block;
    height: 15vh;
    width: 50%;
    margin: auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 1rem;
    border: none;
}
#btn-translate{
    display: block;
    background-color: #0a0a0a;
    width: 120px;
    height: 40px;
    border-radius: 0.5rem;
    border: none;
    margin: auto;
    color:white;
    padding: 0.5rem;
    font-size: large;
}

footer{
    text-align: center;
}